<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>address</th>
      <th>lat</th>
      <th>long</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>115 IMPASSE DES JARDINS, CESSY</td>
      <td>6.062264</td>
      <td>46.329802</td>
    </tr>
    <tr>
      <th>1</th>
      <td>142 ALLEE DU CHAT PERCHE, CESSY</td>
      <td>6.066450</td>
      <td>46.327608</td>
    </tr>
    <tr>
      <th>2</th>
      <td>41 ALLEE DES FRENES, CESSY</td>
      <td>6.068014</td>
      <td>46.326772</td>
    </tr>
    <tr>
      <th>3</th>
      <td>238 IMPASSE DE LA MORAINE VILLA N.5, CESSY</td>
      <td>6.069583</td>
      <td>46.324993</td>
    </tr>
    <tr>
      <th>4</th>
      <td>237 IMPASSE DE LA MORAINE VILLA N.6, CESSY</td>
      <td>6.069697</td>
      <td>46.325190</td>
    </tr>
    <tr>
      <th>5</th>
      <td>48 IMPASSE DE LA FAUCILLE LES HAUTS DE C, CESSY</td>
      <td>6.065861</td>
      <td>46.323129</td>
    </tr>
    <tr>
      <th>6</th>
      <td>530 RUE DE LA ROCAILLE, CESSY</td>
      <td>6.065669</td>
      <td>46.321913</td>
    </tr>
    <tr>
      <th>7</th>
      <td>710 RUE DE LA ROCAILLE, CESSY</td>
      <td>6.066594</td>
      <td>46.320318</td>
    </tr>
    <tr>
      <th>8</th>
      <td>763 RUE DU JURA, CESSY</td>
      <td>6.067802</td>
      <td>46.322238</td>
    </tr>
    <tr>
      <th>9</th>
      <td>142 RUE DU MOULIN, CESSY</td>
      <td>6.069610</td>
      <td>46.322717</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1140 RUE DU JURA, CESSY</td>
      <td>6.070040</td>
      <td>46.319513</td>
    </tr>
    <tr>
      <th>11</th>
      <td>71 IMPASSE DU PARC, CESSY</td>
      <td>6.071550</td>
      <td>46.319381</td>
    </tr>
    <tr>
      <th>12</th>
      <td>85J COTE DU MORALAY, CESSY</td>
      <td>6.071594</td>
      <td>46.318088</td>
    </tr>
    <tr>
      <th>13</th>
      <td>85 F COTE DU MORALAY, CESSY</td>
      <td>6.071561</td>
      <td>46.318150</td>
    </tr>
    <tr>
      <th>14</th>
      <td>85 G COTE DU MORALAY, CESSY</td>
      <td>6.071569</td>
      <td>46.318135</td>
    </tr>
    <tr>
      <th>15</th>
      <td>89 COTE DU MORALAY, CESSY</td>
      <td>6.071553</td>
      <td>46.318114</td>
    </tr>
    <tr>
      <th>16</th>
      <td>66 RUE DE LA MAIRIE, CESSY</td>
      <td>6.072342</td>
      <td>46.318639</td>
    </tr>
    <tr>
      <th>17</th>
      <td>78 RUE DU MONT BLANC DOMAINE DU MONT BLA, CESSY</td>
      <td>6.073595</td>
      <td>46.320333</td>
    </tr>
    <tr>
      <th>18</th>
      <td>175 RUE DU MONT BLANC, CESSY</td>
      <td>6.072933</td>
      <td>46.321047</td>
    </tr>
    <tr>
      <th>19</th>
      <td>138 CHEMIN DES PANISSIERES LA LIOUDE, CESSY</td>
      <td>6.065149</td>
      <td>46.313708</td>
    </tr>
    <tr>
      <th>20</th>
      <td>16 IMPASSE DE LA FONTAINE, CESSY</td>
      <td>6.073493</td>
      <td>46.315802</td>
    </tr>
    <tr>
      <th>21</th>
      <td>30 RUE DU CHATEAU, CESSY</td>
      <td>6.076417</td>
      <td>46.316176</td>
    </tr>
    <tr>
      <th>22</th>
      <td>63 IMPASSE DU LEMAN, CESSY</td>
      <td>6.077425</td>
      <td>46.317208</td>
    </tr>
    <tr>
      <th>23</th>
      <td>134 ROUTE DE LA PLAINE, CESSY</td>
      <td>6.074127</td>
      <td>46.312185</td>
    </tr>
    <tr>
      <th>24</th>
      <td>158 ALLEE DU MOLE, CESSY</td>
      <td>6.072302</td>
      <td>46.312890</td>
    </tr>
    <tr>
      <th>25</th>
      <td>187 CHEMIN DES LONGES RAYES, CESSY</td>
      <td>6.069905</td>
      <td>46.311756</td>
    </tr>
    <tr>
      <th>26</th>
      <td>45 CHEMIN DU JOURNANS Z.A. DE CESSY, CESSY</td>
      <td>6.066243</td>
      <td>46.303269</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Z.A.C. DU JOURNANS, CESSY</td>
      <td>6.066251</td>
      <td>46.302828</td>
    </tr>
    <tr>
      <th>28</th>
      <td>100 CHEMIN DU JOURNANS Z.A. DE CESSY, CESSY</td>
      <td>6.066458</td>
      <td>46.302827</td>
    </tr>
    <tr>
      <th>29</th>
      <td>333 CHEMIN DES PLACES Z.A. DE CESSY, CESSY</td>
      <td>3.220234</td>
      <td>47.317614</td>
    </tr>
  </tbody>
</table>